body {
    background-color: rgba(48, 240, 144, 0.637);
}
a {
    color:rgb(134, 19, 187);
}
input {
    display: inline;
}

.list-group-item {
    background-color: rgba(36, 228, 170, 0.616);
    overflow: hidden;
    
}